<!doctype html>
<html lang="en" ng-app="ToDo">
<head>
   <meta charset="UTF-8">
   <title>TO DO</title>
   <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
   <header class="header">
      <img src="BRO_logo.svg">
   </header>
   <div class="mainpic">
      <!-- <img src="images/coffeeshop.jpg"> -->
   </div>
   <div ng-controller="todoCtrl" id="container">
      <div class="currentcontainer">
         <!-- needs to change with the name of list -->
         <h1>{{current_lists[0].title}}</h1>
         <div id="currentlist">
            <ol>
               <li ng-repeat="current_list in current_lists">
                  <span ng-class="{'done':current_list.done}">{{current_list.todo_item}}</span>
                  <input type="checkbox" ng-model="current_list.done" />
                  <input type="image" src="images/icon_close.svg" name="closeitem" ng-submit="deletetodo()"/>
               </li>
            </ol>
         </div>
         <form name="frm" ng-submit="addItem()">
            <input type="text" name="newtodo" ng-model="newtodo" ng-click="newtodo=null" required />
            <input type="image" src="images/icon_add.svg" name="newtodo" ng-disabled="frm.$invalid"/>
         </form>
            <!-- function to clear all
            <button ng-click="clearCompleted()">Clear Completed</button> -->
      </div>
      <div class="listscontainer">
         <h1>Lists</h1>
         <div id="lists">
            <ol>
               <li ng-repeat="master_list in master_lists">
                  <span ng-class="{'done':master_list.done}">{{master_list.title}}</span>
                  <input type="checkbox" ng-model="master_list.done" />
                  <input type="image" src="images/icon_close.svg" name="closeitem" ng-submit="deletetodo()"/>
               </li>
            </ol>
         </div>
         <form name="frm" ng-submit="addList()">
            <input type="text" name="newList" ng-model="newlist" ng-click="newlist=null" required />
            <input type="image" src="images/icon_add.svg" name="newList" ng-disabled="frm.$invalid"/>
         </form>
      </div>
   </div>


<script src="angular.min.js"></script>
<script src="practice.js"></script>

</body>
</html>
