body{
   font-family: sans-serif;
   color: #808080;
   margin:0;
}
input[type=text] {
    border: none;
    width: 90%;
}
#container{
   display: flex;
   justify-content: space-around;
}
.done{
   text-decoration: line-through;
   color: #ccc;
}
.header{
   display: flex;
   justify-content: center;
   background-color: #1eacaa;
   padding: 1em 1em;
}
.header img{
   max-height: 25px;
   max-width: 130px;
}
.mainpic{
   background-image: url("images/coffeeshop.jpg");
   background-position: center;
   height: 300px;
   max-width: 100%;
   background-size: cover;
   border-top: solid #d6bfab;
   border-bottom: solid #d6bfab;

}
.mainpic img{
   max-width: 100%;

}
.currentcontainer{
   position: relative;
   width: 300px;
}
.currentlist{
   border-top: solid #d6bfab;
   border-bottom: solid #d6bfab;
}
.currentlist li{
   margin-left: -15%;
}
.flexlist{
   display: flex;
   justify-content: space-between;
   align-items: baseline;
}
.listscontainer{
   width: 300px;
}
#lists{
   border-top: solid #d6bfab;
   border-bottom: solid #d6bfab;
}
#lists li{
   margin-left: -15%;
}
.checked{
   /*display: none;*/
}
