<!doctype html>
<html lang="en" ng-app="ToDo">
<head>
   <meta charset="UTF-8">
   <title>TO DO</title>
   <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
   <header class="header">
      <img src="BRO_logo.svg">
   </header>
   <div class="mainpic">
<!--       <img src="images/coffeeshop.jpg">
 -->   </div>
   <div ng-controller="todocontroller" id="container">
      <div class="currentcontainer">
         <div id="currentlist">
            <ol>
               <li ng-repeat="todo in todos">
                  <input type="checkbox" ng-model="todo.done" />
                  <span ng-class="{'done':todo.done}">{{todo.title}}</span>
               </li>
            </ol>
         </div>
         <form name="frm" ng-submit="addtodo()">
               <input type="text" name="newtodo" ng-model="newtodo" required value="Click here to add new item"/>
      <!--          <button ng-disabled="frm.$invalid">Go</button>
       -->
               <input type="image" src="images/icon_add.svg" name="newtodo" ng-disabled="frm.$invalid"/>
            </form>
            <!-- function to clear all
            <button ng-click="clearCompleted()">Clear Completed</button> -->
      </div>
      <div class="listscontainer">
         <div id="lists">
            <ol>
               <li ng-repeat="list in lists">
                  <input type="checkbox" ng-model="list.done" />
                  <span ng-class="{'done':list.done}">{{list.title}}</span>
               </li>
            </ol>
         </div>
         <form name="frm" ng-submit="addList()">
            <input type="text" name="newList" ng-model="newlist" required value="click here to add new list" />
            <input type="image" src="images/icon_add.svg" name="newList" ng-disabled="frm.$invalid"/>
         </form>
      </div>
   </div>


<script src="angular.min.js"></script>
<script>

   angular.module('ToDo', []).
   controller('todocontroller', ['$scope', function($scope){
      $scope.todos = [
         {'title':'first grocery item','done':false}
      ];
      $scope.lists = [
         {'title':'first list','done':false}
      ];
      $scope.addList = function(){
         $scope.lists.push({'title':$scope.newlist, 'done':false});
         $scope.newlist = '';
      };
      $scope.addtodo = function(){
         $scope.todos.push({'title':$scope.newtodo, 'done':false});
         $scope.newtodo = '';

      };
      $scope.clearCompleted = function(){
         $scope.todos = $scope.todos.filter(function(item){
            return !item.done;
         });

      };
      // $scope.deletetodo = function(){
      //    $scope.todos.pull({'title':$scope.newtodo, 'done':false})
      // };
   }]);

</script>
</body>
</html>
