body{
  font-family: sans-serif;
  font-weight: 100;
  color: #808080;
  margin:0;
}
h1{
font-weight: 100;
}
input[type=text] {
  border: none;
  width: 90%;
}
#container{
  display: flex;
  justify-content: space-around;
}
.done{
  text-decoration: line-through;
  color: #ccc;
}
.header{
  display: flex;
  justify-content: center;
  background-color: #1eacaa;
  padding: 1em 1em;
}
.header img{
  max-height: 25px;
  max-width: 130px;
}
.mainpic{
  background-image: url("../images/coffeeshop.jpg");
  background-position: center;
  height: 300px;
  max-width: 100%;
  background-size: cover;
  border-top: solid #d6bfab;
  border-bottom: solid #d6bfab;
  position: relative;
  z-index: 1;
}
.mainpic img{
  max-width: 100%;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  color: black;
}
.currentcontainer{
  position: relative;
  width: 400px;
}
.currentlist{
  border-top: solid #d6bfab;
  border-bottom: solid #d6bfab;
}
.currentlist li{
  margin-left: -11%;
  padding-bottom: 10px;
}
.flexlist{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.underline{
  border-bottom: solid 1px #d6bfab;
}
.listscontainer{
  width: 400px;
}
.lists{
  border-top: solid 1px #d6bfab;
  border-bottom: solid 1px #d6bfab;
}
.lists li{
  margin-left: -11%;
  padding-bottom: 5px;
  font-size: smaller;
}
.plussed{
  padding-left: 12px;
}
#footer{
  position: absolute;
  bottom: 0px;
  background-color: #1eacaa;
  width: 100%;
  height: .4em;
}
@media only screen and (max-width: 750px) {
  #container{
    display: block;
}
}
